[Desktop Entry]
Name=Hot Corners
Comment=Hot Corners - cornora 
Icon=
Exec=cornora -tl "mb-jgtools places" -tr "mb-jgtools right" -iof
Terminal=false
Type=Application
Hidden=true
