[Desktop Entry]
Name=GKrellm in dock
Comment=GKrellm Monitor in Openbox dock 
Icon=gkrellm
Exec=gkrellm -w
Terminal=false
Type=Application
Hidden=true
