[Desktop Entry]
Name=Noita
Comment=Play this game on Steam
Exec=steam steam://rungameid/4203711777
Icon=steam
Terminal=false
Type=Application
Categories=Game;
