[Desktop Entry]
Type=Application
Name=wordpad
MimeType=application/rtf;
Exec=env WINEPREFIX="/home/ethan/.local/share/Steam/steamapps/compatdata/4203711777" wine start /ProgIDOpen rtffile %f
NoDisplay=true
StartupNotify=true
Icon=3365_wordpad.0
