[Desktop Entry]
Type=Application
Name=hh
MimeType=application/vnd.ms-htmlhelp;
Exec=env WINEPREFIX="/home/ethan/.local/share/Steam/steamapps/compatdata/4203711777" wine start /ProgIDOpen chm.file %f
NoDisplay=true
StartupNotify=true
Icon=D15F_hh.0
