[Desktop Entry]
Type=Application
Name=notepad
MimeType=text/plain;
Exec=env WINEPREFIX="/home/ethan/.local/share/Steam/steamapps/compatdata/4203711777" wine start /ProgIDOpen inifile %f
NoDisplay=true
StartupNotify=true
Icon=2E40_notepad.0
