[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=image/gif;
Exec=env WINEPREFIX="/home/ethan/.local/share/Steam/steamapps/compatdata/4203711777" wine start /ProgIDOpen giffile %f
NoDisplay=true
StartupNotify=true
Icon=ECB7_iexplore.0
